.header {
  grid-area: h;
  background-color: green;
  max-width: 100vw;
}

.header img {
  width: 20px;
}

.loginBlock {
  display: flex;
  justify-content: flex-end;
}

.loginBlock a {
  color: #fff;
}
